body {
	margin:10px;
	padding:10px;
}

.gridview
{
	width:90%;
	border-collapse:collapse;
	border:10px #ddd solid;
	margin: 100px;
	padding: 10%;
}

.gridview thead
{
	background-color:#b5d0f8;
}

.gridview tbody tr:nth-child(odd)
{
	background:#fff;
}
.gridview tbody tr:nth-child(even)
{
	background:#eee;
}

.gridview tbody tr:hover
{
	background:#edffe9;
}

.gridview th,
.gridview td 
{
	padding:2px 5px;
	border:10px #ddd solid;
}

.gridview .center 
{
	text-align:center;
} 